.orange {
  color: orange;
}

.new {
  position: absolute;
  margin-left: 13rem;
  padding: 5px;
  border-radius: 10px;
  background-color: greenyellow;
  text-align: center;
  font-weight: bold;
}

.profile {
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: #ebebeb;
  border-radius: 20px;
  margin-bottom: 1rem;
  box-shadow: 7px 11px 24px -1px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 7px 11px 24px -1px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 7px 11px 24px -1px rgba(0, 0, 0, 0.61);
}
.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
